// font
body{
    font-family: 'Playfair Display', serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
// colors
$firstcolor: #FDFA69;
$secondcolor:#4ceea7;
$thirdcolor:#2c2c2c;
$forthcolor:#fafafa;
$fifthcolor:#EFFDF3;
