.wrapper{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
  }

body{
    font-size: 125%;
}

button
{transition: 0.3s;
    &:hover{
        scale: 1.1;
    }
}