// blog page style 
// header starts
header{
    position: relative;
    h1{
        position: absolute;
        top: 25%;
        right: 40%;
        text-transform: uppercase;
        font-size: 5.5rem;
    }
}
//header ends
//nav starts
nav{
    position: absolute;
    z-index: 10;
    width: 50%;
    top: 0;
    right: 0;
    ul{
        display: flex;
        justify-content: space-evenly;
    }
    li{
        list-style: none;
        transition: 0.3s;
        padding-bottom: 1%;
        &:hover,
        &:focus{
            scale: 1.1;
            border-bottom: 3px solid $second-color;
        }
        
    }
    a{
        font-size: 1.5rem;
        letter-spacing: 1.1px;
        text-align: center;
        line-height: 29px;
        text-transform: uppercase;
        text-decoration: none;
        color:$third-color;
    }    
}
//nav ends
//main style
main{
    background-color: $fifth-color;
        .first-half{
            flex-wrap: wrap;
            display: flex;

        }
        .left-small{/* left section */
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 5%;
        margin-top: 5%;
        .white-container{
            width: 70%;
            background-color: $forth-color;
            padding: 5% 10% 0% 5%;
        }
        .image-container{
            float: right;
            width: 100%;
            position: relative;
            top: 1%;
            box-shadow: 38px 11px 0px -11px $forth-color;
            -webkit-box-shadow: 38px 11px 0px -11px $forth-color;
            -moz-box-shadow: 38px 11px 0px -11px $forth-color;
            left: -5%;
        }
        h2{
            text-transform: uppercase;
            font-size: 1.8rem;
            letter-spacing: 1px;
        }
        p{
            line-height: 32px;
        }
        span{
            font-weight: 600;
            font-style: italic;
        }
        ul{
           list-style: none; 
        }
        li{
            font-family: 'Roboto', sans-serif;
        }
        ul li::before {
            content: "\2022";
            color: $second-color;
            font-weight: 300;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
          }
    }
    /* left section ends */
    /* rights section top*/
    .right-big{ 
        flex-basis: 55%;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        .yellow-container{
            display: flex;
            flex-direction: column;
            position: relative;
        }
        .image-container{
            width: 103%;
            position: absolute;
            top: -18%;
            right: -6%;
            box-shadow: -25px 25px 0px 1px $first-color;
            -webkit-box-shadow: -25px 25px 0px 1px $first-color;
            -moz-box-shadow: -25px 25px 0px 1px $first-color;
        }
        .text-container{
            border-left:5px solid $first-color ;
            border-bottom: 5px solid $first-color;
            padding:50% 15% 2% 3%;
        }
        h3{
            font-size: 2.9rem;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        .date{
            margin-top: 2%;
        }
        .post{
            margin-top: 10%;
        }
        p{
            line-height: 32px;
        }
    }
    /* rights section top ends*/
    // comment section style
    .comments{
        margin-left: 43%;
        margin-top: 2.5%;
        .user-post{/* comment section */
            margin-top: 5%;
            display: flex;
            flex-wrap: wrap;
            .user-pic{
                width: 92px;
                height: 64px;
            }
            .comment-date,
            .comment-text{
                margin: 0;
            }
            .comment-text{
                margin-top: 1%;
            }
            .user-comment{
                width: 80%;
                margin-left: 2%;
                margin-bottom: 10%;
                height: 100%;
            }
            p{
                line-height: 32px;
    
            }
        }
        form{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            input{
                width: 40%;
                background: none;
                border: none;
                border-bottom: 3px solid $second-color;
                padding: 2%;
                margin: 0% 10% 5% 0%;
                outline: none; 
            }
            textarea{
                width: 90%;
                background: none;
                border:3px solid $second-color;
                padding: 2%;
                outline: none;
                margin-bottom: 5%;
                resize: none;
                &::placeholder{
                    color: $third-color;
                }
            }
            button{
                width: 90%;
                margin-bottom: 8%;
                text-align: center;
                line-height: 29px;
                letter-spacing: 1px;
                height: 40px;
                text-transform: uppercase;
                font-family: 'Playfair Display', serif;
                background-color: $second-color;
                border: 1px solid $second-color;
                margin-top: 1%;
            }
        }
    }
//comment section ends
}
//main style ends
//blog page style ends

@media (max-width: 940px) {
    
 }
 
 /* Landscape phone to portrait tablet */
 @media (max-width: 768px) {
     
 }
 
 /* Landscape phones and down */
 @media (max-width: 400px) {
     
 }