// contact page style
// header
header{
    position: relative;
    h1{
        position: absolute;
        top: 25%;
        right: 25%;
        text-transform: uppercase;
        font-size: 5.5rem;
    }

}
//header ends
//nav starts
nav{
    position: absolute;
    z-index: 10;
    width: 50%;
    top: 0;
    right: 0;
    ul{
        display: flex;
        justify-content: space-evenly;
    }
    li{
        list-style: none;
        transition: 0.3s;
        padding-bottom: 1%;
        &:hover,
        &:focus{
            scale: 1.1;
            border-bottom: 3px solid $second-color;
        }
        
    }
    a{
        font-size: 1.5rem;
        letter-spacing: 1.1px;
        text-align: center;
        line-height: 29px;
        text-transform: uppercase;
        text-decoration: none;
        color:$third-color;
    }    
}
//nav ends
//mobie nav style
.menu-content {
    padding: 0 0 0 50px;
    max-height: 0;
    overflow: hidden;
}
.collapsible-menu {
    background-color: rgba(255, 255, 255, 0.568);
    padding: 0px 15px;
    border-bottom: 5px solid $first-color;
    box-shadow: 2px 2px 3px $third-color;
    position: fixed;
    top: 4%;
    right: 2%;
    z-index: 10;
    letter-spacing: 2px;
    label {
        font-size: 1.7rem;
        display: block;
        cursor: pointer;
        padding: 5% 5%;
        opacity: 0.8;
        text-align: center;
        transition: 0.5s;
        padding-bottom: 1%;
        &:hover,
        &:focus{
        scale: 1.1;
        }
    }   
    input#menu {
        display: none;
    }
    ul {
    list-style-type: none;
    padding: 0;
    }
    a {
    display:block;
    padding: 10px;
    text-decoration: none;
    color: $third-color;
    text-transform: capitalize;
    }
}

/* Toggle Effect */
input:checked ~ .menu-content {
    max-height: 100%;
}
@media(min-width:940px){
.collapsible-menu{
    display: none;
}
}
//moblie nav style ends
//main style
main{
    background-color: $fifth-color;
    height: 65vh;
    .wrapper{
        flex-wrap: wrap;
    }
}
//main style ends
//info section
.info{
    .sns-icons{
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    h2{
        text-transform: uppercase;
    }
    p{
        margin: 2% 0px 2% 0px;
    }
    margin: 12% 5% 0% 5%;
}
//info section ends

//form section style
.form-section{
    position: relative;
    flex-basis: 60%;
    padding-left: 2%;
    position: relative;
}
form{
    background-color: $forth-color;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 10% 0% 10%;
    position: absolute;
    box-shadow: -25px 25px 0px 1px $first-color;
    -webkit-box-shadow: -25px 25px 0px 1px $first-color;
    -moz-box-shadow: -25px 25px 0px 1px $first-color;
    top: -40%;
    input{
        width: 40%;
        background: none;
        border: none;
        border-bottom: 3px solid $second-color;
        padding: 2%;
        margin: 0% 10% 5% 0%;
        outline: none; 
    }
    textarea{
        width: 90%;
        background: none;
        border:3px solid $second-color;
        padding: 2%;
        outline: none;
        margin-bottom: 5%;
        resize: none;
        &::placeholder{
            color: $third-color;
        }
    }
    button{
        width: 90%;
        margin-bottom: 8%;
        text-align: center;
        line-height: 29px;
        letter-spacing: 1px;
        height: 40px;
        text-transform: uppercase;
        font-family: 'Playfair Display', serif;
        background-color: $second-color;
        border: 1px solid $second-color;
        margin-top: 1%;
    }
}
//form style ends

// contact style ends

@media (max-width: 940px) {
    header{
        nav{ /* moblie nav shows up */
            display: none;
        }
        h1{
            top: 15%;
            right: auto;
            font-size: 4.2rem;
        }
    }
    main{
        height: auto;
        .wrapper{
            .info{
                margin: 10%;
            }
            .form-section{
                flex-basis: 80%;
                form{
                    position: unset;
                    margin-bottom: 15%;
                    textarea{
                        height: 160px;
                    }
                }
            }
            
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    header{
        h1{
            top: 35%;
            right: auto;
            font-size: 3rem;
        }
    }
}

/* Landscape phones and down */
@media (max-width: 400px) {
    
}