// header
header{
    background: url(././captured-final-assets/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        height: 110vh;
        justify-content: start
        
    }
    .image-container{
        box-shadow: -10px -1px 0px 33px $first-color;
        -webkit-box-shadow: -10px -1px 0px 33px $first-color;
        -moz-box-shadow: -10px -1px 0px 33px $first-color;
        position: absolute;
        bottom: -15%;
        margin-left: 55%;
        max-height: 640px;
       right: 0;
    }
    h1{
        font-size: 10rem;
        text-transform: uppercase;
        position: absolute;
        top: 62%;
        left: 30%;
    }
}
// header ends
// nav
nav{
    width: 40%;
    z-index: 10;
    padding-top: 1%;
    ul{
        display: flex;
        justify-content: space-evenly;
    }
    li{
        list-style: none;
        transition: 0.5s;
        padding-bottom: 1%;
        &:hover,
        &:focus{
            scale: 1.1;
            border-bottom: 3px solid $second-color;
        }
        
    }
    a{
        font-size: 1.5rem;
        letter-spacing: 1.1px;
        text-align: center;
        line-height: 29px;
        text-transform: uppercase;
        text-decoration: none;
        color:$third-color;
    }    
}
// nav ends
//mobie nav style
    .menu-content {
        padding: 0 0 0 50px;
        max-height: 0;
        overflow: hidden;
    }
    .collapsible-menu {
        background-color: rgba(255, 255, 255, 0.568);
        padding: 0px 15px;
        border-bottom: 5px solid $first-color;
        box-shadow: 2px 2px 3px $third-color;
        position: fixed;
        top: 4%;
        right: 2%;
        z-index: 10;
        letter-spacing: 2px;
        label {
            font-size: 1.7rem;
            display: block;
            cursor: pointer;
            padding: 5% 5%;
            opacity: 0.8;
            text-align: center;
            transition: 0.5s;
            padding-bottom: 1%;
            &:hover,
            &:focus{
            scale: 1.1;
            }
        }   
        input#menu {
            display: none;
        }
        ul {
        list-style-type: none;
        padding: 0;
        }
        a {
        display:block;
        padding: 10px;
        text-decoration: none;
        color: $third-color;
        text-transform: capitalize;
        }
    }
    
    /* Toggle Effect */
    input:checked ~ .menu-content {
        max-height: 100%;
    }
    @media(min-width:940px){
    .collapsible-menu{
        display: none;
    }
}
//moblie nav style ends

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    header{
        .wrapper{
            height: 65vh;
        }
        nav{ /* moblie nav shows up */
            display: none;
        }
        h1{
            font-size: 3.5rem;
            left: 60%;
            top: 13%;
        }
        .image-container{
            bottom: 35%;
            height: auto;
            width: 31%;
            right: 0;
            box-shadow: -10px -1px 0px 10px $first-color;
            -webkit-box-shadow: -10px -1px 0px 10px $first-color;
            -moz-box-shadow: -10px -1px 0px 10px $first-color;
        }
        li{
            transition: 0.5s;
            padding-bottom: 1%;
            &:hover,
            &:focus{
                scale: 1.1;
                }
        }   
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    header{
        .wrapper{
            height: 50vh;
        }
        h1{
            left: 30%;
            top: 30%;
            font-size: 2.8rem;
        }
        .image-container{
            bottom: 58%;
            width: 35%;
            margin: 0;
        }
    }
}

/* Landscape phones and down */
@media (max-width: 400px) {
    header{
        .wrapper{
            height: 40vh;
        }
        .image-container{
            bottom: 65%;
            width: 40%;
            margin: 0;
            box-shadow: -5px -1px 0px 5px $first-color;
            -webkit-box-shadow: -5px -1px 0px 5px $first-color;
            -moz-box-shadow: -5px -1px 0px 5px $first-color;
        }
    }

}