// header
header{
    background: url(././captured-final-assets/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        height: 110vh;
        justify-content: start
        
    }
    .image-container{
        box-shadow: -10px -1px 0px 33px $first-color;
        -webkit-box-shadow: -10px -1px 0px 33px $first-color;
        -moz-box-shadow: -10px -1px 0px 33px $first-color;
        position: absolute;
        bottom: -15%;
        margin-left: 55%;
        max-height: 640px;
    }
    h1{
        font-size: 10rem;
        text-transform: uppercase;
        position: absolute;
        top: 53%;
        left: 28%;
    }
}
// header ends
// nav
nav{
    width: 40%;
    z-index: 10;
    padding-top: 1%;
    ul{
        display: flex;
        justify-content: space-evenly;
    }
    li{
        list-style: none;
        transition: 0.5s;
        padding-bottom: 1%;
        &:hover,
        &:focus{
            scale: 1.1;
            border-bottom: 3px solid $second-color;
        }
        
    }
    a{
        font-size: 1.5rem;
        letter-spacing: 1.1px;
        text-align: center;
        line-height: 29px;
        text-transform: uppercase;
        text-decoration: none;
        color:$third-color;
    }
    
}
// nav ends