//bot-img style
.bot-img{
    margin: 0;
    background-color: $fifth-color;
    img{
        width: 100%;
    }
}
//bot-img style ends

//features style 
.features{
    height: 60vh;
    background-color: $fifth-color;
    padding-top:5% ;
    .image-container{
        box-shadow: 35px 35px 0px 0px $first-color;
        -webkit-box-shadow: 35px 35px 0px 0px $first-color;
        -moz-box-shadow: 35px 35px 0px 0px $first-color;
        height: 300px;
    }
    .text-container{
        padding-left: 5%;
        width: 50%;
        h3{
            text-transform: uppercase;
        }
        p{
            line-height: 32px;
        }
        button{
            text-align: center;
            line-height: 29px;
            letter-spacing: 1px;
            width: 150px;
            padding: 1%;
            text-transform: uppercase;
            font-family: 'Playfair Display', serif;
            background-color: $second-color;
            border: 1px solid $second-color;
            margin-top: 3%;
        }
    }
}
//features style ends

//gallery style
.gallery{
    padding-top: 5%;
    margin-bottom: 5%;
    .wrapper{
        width: 75%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .image-container{
            transition: 1s;
            position: relative;
            &:hover{
                scale: 1.1;
                }
            .overlay{
                height: 100%;
                width: 100%;
                background: rgba(0,0,0, 0.6);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.8s;
                p{
                    font-size: 1.2rem;
                    color: $forth-color;
                    text-transform: capitalize;
                }
                &:hover{
                    opacity: 1;
                    }
                
            }
        }
    }
}
//gallery style ends

@media (max-width: 940px) {
   
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    
}

/* Landscape phones and down */
@media (max-width: 400px) {
    
}