// about style
.about{
    background-color: $fifth-color;
    height: 80vh;
    padding: 15%;
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2{
        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    button{
        text-align: center;
        line-height: 29px;
        letter-spacing: 1px;
        width: 200px;
        height: 40px;
        text-transform: uppercase;
        font-family: 'Playfair Display', serif;
        background-color: $second-color;
        border: 1px solid $second-color;
        margin-top: 1%;
    }
}
// about ends
// blog style
.blog{
    background-color: $forth-color;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100vh;
    .imagine-contanier,
    .text-container{
        width: 40%;
    }
    h2{
        font-size: 2.3rem;
        text-transform: uppercase;
    }
    .text-container{
        padding-left: 7%;
        
            button{
                text-align: center;
                line-height: 29px;
                letter-spacing: 1px;
                width: 150px;
                text-transform: uppercase;
                font-family: 'Playfair Display', serif;
                background-color: $second-color;
                border: 1px solid $second-color;
                margin-top: 1%;
                padding: 1%;
            }

    }/* text wrapper */
    .box1{
        box-shadow: 26px 24px 0px 0px $first-color;
        -webkit-box-shadow: 26px 24px 0px 0px $first-color;
        -moz-box-shadow: 26px 24px 0px 0px $first-color;
        position: absolute;
        top: -3%;
    }

    .box2{
        position: absolute;
        right: 0;
        padding: 0;
        top: 5%;
    }
    .box3{
        box-shadow: -24px 26px 0px 0px $first-color;
        -webkit-box-shadow: -24px 26px 0px 0px $first-color;
        -moz-box-shadow: -24px 26px 0px 0px $first-color;
        bottom: -15%;
        position: absolute;
        right: 0;
        bottom: -15%;
    }
    
    .box4{
        text-align: end;
        padding-right: 7%;
        position: absolute;
        bottom: 10%;
        padding: 0;
    }

    .box1,
    .box3{
        height: 419px;
    }
}
// blog style ends

//mid menu style
.mid-menu{
    background-color: $fifth-color;
    height: 90vh;
    padding-top: 10%;
    .wrapper{
        flex-wrap: wrap;
    }
    .menu-box{
        display: flex;
        flex-basis: 40%;
        margin-left: 5%;
        transition: 0.3s;
            &:hover{
                background-color: $forth-color;
                border-radius: 15%;
                scale: 0.9;
            }
        
        .icon{
            margin-top: 2%;
            margin-right: 2%;
            background-color: $second-color;
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $second-color;
            border-radius: 50%;
            i{
                font-size: 2rem;
                text-align: center;
            }
        }
        .text-container{
            width: 80%;
        }
        h2{
            text-transform: uppercase;
        }
        p{
            line-height: 32px;
        }
    }
}
//mid menu style ends

@media (max-width: 940px) {
    .about{
        height: auto;
        padding: 10%;
        .wrapper{
            h2{
                font-size: 2.2rem;
            }
        }
    }

    .blog{
        height: auto;
        .box1,
        .box2,
        .box3,
        .box4{
            position: static;
            margin: 0 auto;
        }
        .text-container{
            text-align: center;
        }
    }

    .mid-menu{
        height: auto;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .about{
        .wrapper{
            h2{
                font-size: 2rem;
            }
        }   
    }

    .blog{
        height: auto;
        .box1,
        .box2,
        .box3,
        .box4{
            position: static;
            margin: 0 auto;
            height: 25%;
            width: 100%;
        }
        .box1,
        .box3{
            box-shadow: 0px 15px 0px 0px $first-color;
            -webkit-box-shadow: 0px 15px 0px 0px $first-color;
            -moz-box-shadow: 0px 15px 0px 0px $first-color;
        }
    }

    .mid-menu{
        h2{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.1rem;
        }
    }
}


/* Landscape phones and down */
@media (max-width: 400px) {
    .about{
        .wrapper{
            h2{font-size: 1.8rem;}
            p{font-size: 1rem;}
        }
    }      

    .blog{
        .box2,
        .box4{
            h2{
                font-size: 1.5rem;
            }
            p{
                font-size: 1.1rem;
            }
        }   
            
    }

    .mid-menu{
        .menu-box{
            flex-basis: 80%;
            }
    }
}
