@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-size: 125%;
}

button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  scale: 1.1;
}

header {
  position: relative;
}
header h1 {
  position: absolute;
  top: 25%;
  right: 40%;
  text-transform: uppercase;
  font-size: 5.5rem;
}

nav {
  position: absolute;
  z-index: 10;
  width: 50%;
  top: 0;
  right: 0;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav li {
  list-style: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-bottom: 1%;
}
nav li:hover, nav li:focus {
  scale: 1.1;
  border-bottom: 3px solid #4ceea7;
}
nav a {
  font-size: 1.5rem;
  letter-spacing: 1.1px;
  text-align: center;
  line-height: 29px;
  text-transform: uppercase;
  text-decoration: none;
  color: #2c2c2c;
}

.menu-content {
  padding: 0 0 0 50px;
  max-height: 0;
  overflow: hidden;
}

.collapsible-menu {
  background-color: rgba(255, 255, 255, 0.568);
  padding: 0px 15px;
  border-bottom: 5px solid #FDFA69;
  -webkit-box-shadow: 2px 2px 3px #2c2c2c;
          box-shadow: 2px 2px 3px #2c2c2c;
  position: fixed;
  top: 4%;
  right: 2%;
  z-index: 10;
  letter-spacing: 2px;
}
.collapsible-menu label {
  font-size: 1.7rem;
  display: block;
  cursor: pointer;
  padding: 5% 5%;
  opacity: 0.8;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-bottom: 1%;
}
.collapsible-menu label:hover, .collapsible-menu label:focus {
  scale: 1.1;
}
.collapsible-menu input#menu {
  display: none;
}
.collapsible-menu ul {
  list-style-type: none;
  padding: 0;
}
.collapsible-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #2c2c2c;
  text-transform: capitalize;
}

/* Toggle Effect */
input:checked ~ .menu-content {
  max-height: 100%;
}

@media (min-width: 940px) {
  .collapsible-menu {
    display: none;
  }
}
main {
  background-color: #EFFDF3;
  /* left section ends */
  /* rights section top*/
  /* rights section top ends*/
}
main .first-half {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .left-small { /* left section */
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-right: 5%;
  margin-top: 5%;
}
main .left-small .white-container {
  width: 70%;
  background-color: #fafafa;
  padding: 5% 10% 0% 5%;
}
main .left-small .image-container {
  float: right;
  width: 100%;
  position: relative;
  top: 1%;
  box-shadow: 38px 11px 0px -11px #fafafa;
  -webkit-box-shadow: 38px 11px 0px -11px #fafafa;
  -moz-box-shadow: 38px 11px 0px -11px #fafafa;
  left: -5%;
}
main .left-small h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 1px;
}
main .left-small p {
  line-height: 32px;
}
main .left-small span {
  font-weight: 600;
  font-style: italic;
}
main .left-small ul {
  list-style: none;
}
main .left-small li {
  font-family: "Roboto", sans-serif;
}
main .left-small ul li::before {
  content: "•";
  color: #4ceea7;
  font-weight: 300;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
main .right-big {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2%;
}
main .right-big .yellow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
main .right-big .image-container {
  width: 103%;
  position: absolute;
  top: -15%;
  right: -6%;
  box-shadow: -27px 25px 0px 1px #FDFA69;
  -webkit-box-shadow: -27px 25px 0px 1px #FDFA69;
  -moz-box-shadow: -27px 25px 0px 1px #FDFA69;
}
main .right-big .text-container {
  border-left: 5px solid #FDFA69;
  border-bottom: 5px solid #FDFA69;
  padding: 50% 15% 2% 3%;
}
main .right-big h3 {
  font-size: 2.9rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
main .right-big .date {
  margin-top: 2%;
}
main .right-big .post {
  margin-top: 10%;
}
main .right-big p {
  line-height: 32px;
}
main .comments {
  margin-left: 43%;
  margin-top: 2.5%;
}
main .comments .user-post { /* comment section */
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .comments .user-post .user-pic {
  width: 92px;
  height: 64px;
}
main .comments .user-post .comment-date,
main .comments .user-post .comment-text {
  margin: 0;
}
main .comments .user-post .comment-text {
  margin-top: 1%;
}
main .comments .user-post .user-comment {
  width: 80%;
  margin-left: 2%;
  margin-bottom: 10%;
  height: 100%;
}
main .comments .user-post p {
  line-height: 32px;
}
main .comments form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .comments form input {
  width: 40%;
  background: none;
  border: none;
  border-bottom: 3px solid #4ceea7;
  padding: 2%;
  margin: 0% 10% 5% 0%;
  outline: none;
}
main .comments form textarea {
  width: 90%;
  background: none;
  border: 3px solid #4ceea7;
  padding: 2%;
  outline: none;
  margin-bottom: 5%;
  resize: none;
}
main .comments form textarea::-webkit-input-placeholder {
  color: #2c2c2c;
}
main .comments form textarea::-moz-placeholder {
  color: #2c2c2c;
}
main .comments form textarea:-ms-input-placeholder {
  color: #2c2c2c;
}
main .comments form textarea::-ms-input-placeholder {
  color: #2c2c2c;
}
main .comments form textarea::placeholder {
  color: #2c2c2c;
}
main .comments form button {
  width: 90%;
  margin-bottom: 8%;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
  height: 40px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  background-color: #4ceea7;
  border: 1px solid #4ceea7;
  margin-top: 1%;
}

@media (max-width: 1350px) {
  main .right-big .image-container {
    top: -7%;
    box-shadow: -19px 22px 0px 1px #FDFA69;
    -webkit-box-shadow: -19px 22px 0px 1px #FDFA69;
    -moz-box-shadow: -19px 22px 0px 1px #FDFA69;
  }
}
@media (max-width: 940px) {
  header h1 {
    right: 35%;
    font-size: 4rem;
  }
  header nav { /* moblie nav shows up */
    display: none;
  }
  main .right-big .image-container {
    top: -5%;
    right: -6%;
    box-shadow: -9px 10px 0px 1px #FDFA69;
    -webkit-box-shadow: -9px 10px 0px 1px #FDFA69;
    -moz-box-shadow: -9px 10px 0px 1px #FDFA69;
  }
  main .comments {
    margin: 10%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header h1 {
    font-size: 3rem;
  }
  main .left-small .image-container {
    -webkit-box-shadow: none;
            box-shadow: none;
    left: 0;
  }
  main .left-small .white-container {
    width: 90%;
  }
  main .left-small .white-container li {
    margin-top: 10%;
  }
  main .left-small .hide-moblie p {
    display: none;
  }
  main .right-big h3 {
    font-size: 2rem;
  }
  main .right-big .image-container {
    top: -1%;
    right: -6%;
    box-shadow: -9px 10px 0px 1px #FDFA69;
    -webkit-box-shadow: -9px 10px 0px 1px #FDFA69;
    -moz-box-shadow: -9px 10px 0px 1px #FDFA69;
  }
  main .right-big .text-container {
    padding-top: 62%;
  }
  main .right-big .text-container p {
    font-size: 1.1rem;
  }
  main .comments .user-post .user-pic {
    margin-right: 3%;
    width: 84px;
  }
  main .comments .user-post .user-comment {
    width: 65%;
  }
  main .comments .user-post .user-comment p {
    font-size: 1.1rem;
  }
}
/* Landscape phones and down */
@media (max-width: 400px) {
  main .left-small,
main .right-big {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 9%;
  }
  main .left-small .image-container {
    width: 90%;
    box-shadow: 15px -15px 0px 0px #fafafa;
    -webkit-box-shadow: 15px -15px 0px 0px #fafafa;
    -moz-box-shadow: 15px -15px 0px 0px #fafafa;
  }
}
footer {
  background-color: #2c2c2c;
}
footer p {
  color: #fafafa;
  line-height: 0;
  font-size: 1rem;
}